@import "../../SCSS/main.scss";

@mixin footerGrid ($column, $row, $gap, $areas) {
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
    gap: $gap;
    grid-template-areas: $areas;
    justify-items: center;
}

@mixin link-positin ($position, $textAlign) {
    justify-self: $position;
    text-align: $textAlign;
}

.footer-container {
    padding: 4rem;
    background: $secondary-color;
    color: $primary-color;

    @include footerGrid(repeat(4 1fr), .2fr .3fr 1fr, 2rem .5rem, "first first first first""second second second second"
        "third  fourth fifth sixth")
}

.footer-header {
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
}

.footer-input {
    margin-right: 1rem;
    width: 13rem;
}


$gridArea: (
    footer-header: first,
    footer-subscribe: second,
    link-section-1: third,
    link-section-2: fourth,
    link-section-3: fifth,
    link-section-4: sixth,
);



@each $class,
$grid in $gridArea {
    .#{$class} {
        grid-area: $grid;
        list-style: none;
    }
}

.link-header {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.link {
    padding-top: 1rem;
    cursor: pointer;
}


@media(max-width: 960px) {
    .footer-container {
        @include footerGrid(1fr 1fr, .2fr .3fr 1fr 1fr, 2rem .5rem, "first first""second second"
            "third  fourth ""fifth sixth")
    }

    .footer-subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }


    .footer-header {
        font-size: 1rem;
    }

    .footer-input {
        margin-right: 0;
    }

    .link-section-1 {
        @include link-positin(start, start)
    }

    .link-section-2 {
        @include link-positin(end, end)
    }

    .link-section-3 {
        @include link-positin(start, start)
    }

    .link-section-4 {
        @include link-positin(end, end)
    }


}