@mixin btn-mixin {
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.btn-default {
    @include btn-mixin();
    color: rgb(10, 10, 10);
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(255, 254, 254);
}

.btn-outline {
    @include btn-mixin();
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.4 ease-out;
}

.midium {
    padding: .5rem 2.5rem;
    font-size: 1rem;
}

.large {
    padding: .5rem 5rem;
    font-size: 1.25rem;
}

.extra-large {
    // padding: .5rem 4.4rem;
    width: 13rem;
    font-size: 1rem;
    height: 2.6rem;

}

.btn-outline:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    transition: all .4s ease-out;

}

.btn-default:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: all .4s ease-out;
}